body{
    font-size: 16px;
    background-color: rgb(224, 240, 247);
    overflow-x: hidden;
}


header{
    display: flex;
    margin-top: 2%;

    .logo{
      margin-left: 2%;
      margin-top: 2%;
    }

    .navbar a{
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(175, 171, 171);
    }
    .navbar a:hover{
        color: black;
    }

    .navbar{
        margin-left: 20%;
        margin-top: 2%;
        display: flex;
        gap: 30px;
        
        
    }

    .headerButtons{
        margin-top: 1%;
        margin-left: 6%;
        display: flex;
        gap: 45px;
      
    }

    #headerSignUp{
        color: white;
        background-color: rgb(212, 37, 66);
        border: none;
        padding: 2em;
        border-radius: 1em;
    }
    #headerLogin{
        padding: 2em;
        border-radius: 1em;
        border: none;
      
    }
}


.heroSection{
     display: flex;
     justify-content: center;
     margin-top: 1%;

     gap: 20%;
     


     #heroTitleColor{
        color: red;
     }

     .heroLeftSide{
        margin-right: -40%;
        padding-top:10% ;
       

       
        
      
        
     }
     .heroTitle{
        font-size: 2.5rem;
       
        width: 50%;
        padding-right: 0%;
        padding-left: 2em;
        margin-right: 0%;
        margin-left: 5%;
        margin-top: 2em;
     }
     
     .heroButtons{
        margin-top: 2%;
        margin-left: 10%;
        display: flex;
        
     }

     #appleIcon, #googleIcon{
        font-size: 2rem;
     }
      #appleButton{
         border-radius: 2em;
         background-color: rgb(10, 10, 27);
         color: white;
       
         padding: 1em;
         font-size: 1em;
      }

      #googleButton{

        border-radius: 2em;
        border: solid 2px   rgb(10, 10, 27);
        color: rgb(10, 10, 27);
        
        padding: 1em;
        font-size: 1em;
        background-color: white;
        margin-left: 1em;
         
      }

      #heroContact{
        margin-left: 10%;
        font-size: 2em;
        color: gray;
    }

    #heroLink{
        background-color: none;
        color: rgb(10, 10, 27) ;
    }

     .heroRightSide{
       background-color: white;
       padding-left: 4em;
       border-radius: 2em;
       transform: rotate(-3deg);
       width: 30%;
       margin-left: -5%;
       margin-top: 5%;
     }

     .profileInfo{
        display: flex;
        gap: 2%;
     }
    #profileImage{
        width: 30%;
      
      
    }

    .profileDescription{
        display: flex;
        gap: 34%;
    }

    #happyFace{
        margin-top: -65%;
       
        margin-left: 22%;
        z-index: -1;
    }

    .profileHighlights{
        background-color: wheat;
        border-radius: 2em;
        text-align: center;
        padding-top: 15px;
        width: 60%;
        margin-top: -30%;
        color: black;
        
    }

   
}

.partneredCompanies{
      #partneredCompaniesTitle{
          text-align: center;
          margin-top: 5%;
          color: grey;
      }

      #partners{
        color:rgb(10, 10, 27) ;
      }

    .companiesLogo{
        display: flex;
        gap: 8%;
        margin-left: 10em;
        margin-top: 2em;
        padding: 3em;
    }
    #microsoftLogo,#trelloLogo, #googleLogo, #dropboxLogo, #slackLogo {
        width: 10%;
       
    }

    
}


.services{
    background-color: rgb(167, 243, 218);
    border-radius: 2em;
     .servicesCatalogue{
        display: flex;
        justify-content: center;
        gap: 10%;
        
    
     }

     #servicesHeading{
        text-align: center;
        padding-top: 2em;
       
        font-size: 4rem;
     }
     #servicesHeading a{
        color: red;
     }

     .interfaceServices, .supportServices, .transfersServices{
      background-color: white;
      border-radius: 2em;
      padding: 2em;
      padding-bottom: 5em;
      margin-bottom: 2em;
      
     }

     .interfaceServices{
        border: solid 3px purple;
     }
     #starIcon{
        background-color: burlywood;
         margin-left: 40%;
        padding: 0.5em;
        border-radius: 3rem;
        font-size: 2em;
     }
     #equalizer{
        background-color: aqua;
        margin-left: 40%;
       padding: 0.5em;
       border-radius: 3rem;
       font-size: 2em;
     }

     #featherIcon{
        background-color: pink;
        margin-left: 40%;
       padding: 0.5em;
       border-radius: 3rem;
       font-size: 2em;
     }



}


.statistics{
    display: flex;
    gap: 4%;
    margin-top: 5%;
    justify-content: center;

    .statsDescription{ 
        font-size: 2em;
    }
    
        #googleButton{

        border-radius: 2em;
        border: solid 2px   rgb(10, 10, 27);
        color: rgb(10, 10, 27);
        width: 15%;
        padding: 1em;
        font-size: 1em;
        background-color: white;
        margin-left: 1em;
         
      }
       
        
    
    .getInTouch{
        background-color: rgb(190, 190, 235);
        width: 50%;
        border-radius: 2em;
    }

    .userDownloads, .userSubscribers{
        display: flex;
    }

  .createAccount{
    display: flex;
    gap: 3%;
    background-color: white;
    margin: 2.5em;
    margin-top: -2em;
    border-radius: 2em;
    padding: 2em;
  }

   #boxIcon{
    font-size: 2rem;
  
   }

   #watchButton{
     border-radius: 2em;
     background-color: blue;
     color: white;
     width: 20%;
    
     

   }

   #getInTouchImage{

    margin-left: 15%;
    position: absolute;
    margin-top: 4%;
    width: 20%;
    

   }

   .studyWithMe{
      background-color: white;
      width: 40%;
      border-radius: 2em;
      padding: 2em;
      margin-left: -5%;
   }

#joinButton{
    background-color: palevioletred;
    color: white;
    border-radius: 2em;
    width: 20%;
    padding: 2em;
    border: none;
}


}

#tagline{
   text-align: center;
   margin: 2em;
  font-size: 4rem;
  width: 50%;
  margin-left: 26%;
}

#tagline a{
    color: red;
}
.appInfo{
   display: flex;
   background-color: rgb(247, 231, 234);
   height: 50vh;
   border-radius: 2em;
   justify-content: center;

   .appDetails{
    
    font-size: 1.5em;
    padding: 2em; 


   }

   .appsettings{
      background-color: white;
      padding: 2em;
      transform: rotate(25deg);
      border-radius: 2em;
      width: 15%;
      margin-left: 10%;
      margin-top: 3%;
      height: 50vh;

   }

   
   #phoneIcon{
    font-size: 2rem;
    background-color: white;
    padding: 0.7em;
    border-radius: 70%;
   }

   #appButton{
    background-color: rgb(10, 10, 27);
    color: white;
    border-radius: 2em;
    padding: 2em;
    width: 30%;
   

   }

   .socialMedia{
    background-color: white;
   transform: rotate(20deg);
   border-radius: 2em;
   padding-left: 2em;
   width: 20%;
   margin-left: 8%;
   margin-top: 2%;
   height: 50vh;
   

  
   }

   #socialMediaHeading{
    width: 80%;
   }

   

   .socialMediaButton{
    display: block;
    margin-left: 2%;
   
   }
   #socialLoginButton{
    width: 60%;
    padding: 2em;
    border: solid 2px rgb(228, 70, 122);
    border-radius: 2em;

   }
   #socialSignUpButton{
    margin-top: 2%;
    width: 60%;
    padding: 2em;
    color: white;
    background-color: rgb(221, 120, 137);
    border-radius: 2em;
    border: none;
   }

   #socialsImage{
    width: 40%;
  }
  .mediaIcons{
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    gap: 60%;
  }

  #mediaName{
    margin-left: 2%;
    margin-top: -7%;
  }
 
}
  

  #testimonialsHeading{

    font-size: 4em;
    text-align: center;
    padding-top: 2em;
  }

  .clientTestimonials{
    display: flex;
    margin-left: 2em;
    justify-content: center;
    gap: 10%;
   
  
  }

    .leftsideClient{
        border: solid 3px rgb(235, 116, 136);
        width: 30%;
        border-radius: 2em;
        padding: 2em;
    }

  #testimonialClient{
    width: 25%;
  
   
  }

  #leftAtrowIcon{
   font-size: 3em;
   border: solid 3px rgb(235, 116, 136);
   padding: 0.5em;
   border-radius: 70%;
   margin-left: -1.5em;
   position: absolute;
   margin-top: -1.8em;
  background-color: white;
  }

  
  .rightSideClient{
    padding: 2em;
    width: 40%;
    margin-top: -5%;
   
  }

  #clientImage{
   width: 25%;
   margin-top: 2em;

  }

  #rightArrowIcon{
    background-color: rgb(212, 59, 110);
    font-size: 3em;
    padding: 0.5em;
    border-radius: 70%;
    position: absolute;
    margin-left: 13em;
    margin-top: -3em;

  }
  .socialProof{
    display: flex;
    gap: 4%;
    padding: 2em;
    margin-top: 4em;
    justify-content: center;

  }
  #socialProofImage{
    width: 70%;
    

  }

  .socialProofDetails{
       font-size: 2em;

  }

  .socialProofButtons{
    display: flex;
    gap: 2%;
  }

  #appleButton{
    border-radius: 2em;
    background-color: rgb(10, 10, 27);
    color: white;
    padding: 1em;
    font-size: 1em;
 }
 #googleButton{

    border-radius: 2em;
    border: solid 2px   rgb(10, 10, 27);
    color: rgb(10, 10, 27);
    padding: 1em;
    font-size: 1em;
    background-color: white;
    margin-left: 1em;
     
  }


  .footer{
    background-color: rgb(13, 13, 78);
    color: white;
    color: black;
    

    a{
        text-decoration: none;
        color: white;
    }


    .socials{
       font-size: 2em;
       margin-left: 1em;
       

    }
    .footerContent{
       display: flex;
       gap: 3%;
    
    }
  
    .products, .features, .company, .resources{
        color: white;
        display: block;
      
        font-size: 2em;
        width: 15%;
        margin-right: 4%;
        margin-top: 3%;

    }

    .footerCopyright{
        background-color: black;
       color: white;
       display: flex;
       gap: 30%;
       padding: 2em;
       font-size: 1.2em;
    }

      
  }
 



@media only screen and (max-width: 600px) and (min-width: 360px){
     
    header{
        display: block;
        margin-top: 2%;
    
        .logo{
          
          margin-top: 2%;
          justify-content: center;
        }
    
        .navbar a{
            text-decoration: none;
            font-size: 1.5rem;
            color: rgb(175, 171, 171);
            display: block;
            background-color: aqua;
        }
        .navbar a:hover{
            color: black;
        }
    
        .navbar{
          
            display: block;
            margin-left: 0%;
            
            
            
        }
    
        .headerButtons{
            margin-top: 5%;
           display: flex;
        }
    
       
    }


.heroSection{
    display: block;
   
   


    #heroTitleColor{
       color: red;
    }

    .heroLeftSide{
       background-color: blue;
       width: 100vw;
       margin-left: 0%;
    
     
       
    }
    .heroTitle{
       font-size: 1.5rem;
       border: solid red 2px;
        width:70%;
        padding-right: 0%;
        padding-left: 3%;
        margin-right: 0%;
        margin-left: 0%;

      
    }
    
    .heroButtons{
      display:block;
      margin-top: 0%;
      margin-left: 0%;
      
    }

    #appleIcon, #googleIcon{
       font-size: 2rem;
    }
     #appleButton{
        border-radius: 2em;
        background-color: rgb(10, 10, 27);
        color: white;
        width: 50%;
        padding: 1em;
        font-size: 1em;
        margin-top: 5%;
        margin-left: 1em;
     }

     #googleButton{

       border-radius: 2em;
       border: solid 2px   rgb(10, 10, 27);
       color: rgb(10, 10, 27);
       width: 50%;
       padding: 1em;
       font-size: 1em;
       background-color: white;
       margin-left: 1em;
       margin-top: 5%;
        
     }

     #heroContact{
       
       font-size: 1em;
       background-color: gray;
   }

   #heroLink{
       background-color: none;
       color: rgb(10, 10, 27) ;
   }

    .heroRightSide{
      background-color: rgb(199, 126, 138);
      padding-left: 4em;
      border-radius: 2em;
      transform: none;
      display: block;
    }

    .profileInfo{
       display: block;
       gap: 2%;
    }
   #profileImage{
       width: 80%;
     
     
   }

   .profileDescription{
       display: block;
       gap: 44%;
   }

   #happyFace{
       margin-top: -40%;
      
       margin-left: -60%;
       z-index: -1;
   }

   .profileHighlights{
       background-color: blue;
       border-radius: 2em;
       text-align: center;
       padding-top: 15px;
       width: 60%;
       margin-top: -25%;
       
   }

  
}


.partneredCompanies{
    #partneredCompaniesTitle{
        text-align: center;
        margin-top: 10%;
        color: grey;
    }

    #partners{
      color:rgb(10, 10, 27) ;
    }

  .companiesLogo{
      display: block;
      
      margin-left: 0em;
      margin-top: 3em;
  }
  #microsoftLogo,#trelloLogo, #googleLogo, #dropboxLogo, #slackLogo {
      width: 50%;
     
     
  }

  
}


appInfo{
    display: block;
    background-color: rgb(247, 231, 234);
    height: 100vh;
    border-radius: 2em;
    justify-content: center;
 
    .appDetails{
     
     font-size: 1.5em;
     padding: 2em; 
 
 
    }
 
    .appsettings{
       background-color: white;
       padding: 2em;
       transform: none;
       border-radius: 2em;
       width: 15%;
       margin-left: 0%;
       margin-top: 3%;
       height: 50vh;
 
    }
 
    
    #phoneIcon{
     font-size: 2rem;
     background-color: white;
     padding: 0.7em;
     border-radius: 70%;
    }
 
    #appButton{
     background-color: rgb(10, 10, 27);
     color: white;
     border-radius: 2em;
     padding: 2em;
     width: 30%;
    
 
    }
 
    .socialMedia{
     background-color: white;
    transform: none;
    border-radius: 2em;
    padding-left: 2em;
    width: 20%;
    margin-left: 8%;
    margin-top: 2%;
    height: 50vh;
    
 
   
    }
 
    #socialMediaHeading{
     width: 80%;
    }
 
    
 
    .socialMediaButton{
     display: block;
     margin-left: 2%;
    
    }
    #socialLoginButton{
     width: 60%;
     padding: 2em;
     border: solid 2px rgb(228, 70, 122);
     border-radius: 2em;
 
    }
    #socialSignUpButton{
     margin-top: 2%;
     width: 60%;
     padding: 2em;
     color: white;
     background-color: rgb(221, 120, 137);
     border-radius: 2em;
     border: none;
    }
 
    #socialsImage{
     width: 40%;
   }
   .mediaIcons{
     margin-top: 3%;
     margin-left: 5%;
     display: flex;
     gap: 60%;
   }
 
   #mediaName{
     margin-left: 2%;
     margin-top: -7%;
   }
  
 }
   
 

.services{
    background-color: blueviolet;

     .servicesCatalogue{
        display: block;
        justify-content: center;
        gap: 10%;
        margin: 1em;
    
     }

     #servicesHeading{
        text-align: center;
        margin: 2em;
        padding-top: 2em;
     }

     .interfaceServices, .supportServices, .transfersServices{
      background-color: palegreen;
      border-radius: 2em;
      padding: 2em;
      padding-bottom: 5em;
      margin-bottom: 2em;
      
     }

     #starIcon{
        background-color: burlywood;
         margin-left: 40%;
        padding: 0.5em;
        border-radius: 3rem;
        font-size: 2em;
     }
     #equalizer{
        background-color: aqua;
        margin-left: 40%;
       padding: 0.5em;
       border-radius: 3rem;
       font-size: 2em;
     }

     #featherIcon{
        background-color: pink;
        margin-left: 40%;
       padding: 0.5em;
       border-radius: 3rem;
       font-size: 2em;
     }



}

.clientTestimonials{
    display: block;
    
   
  
  }

.socialProof{
    display: block;
  }

  #socialProofImage{
    width: 100vw;
    margin-left: 0px;
    

  }

.footer{

  
    .footerContent{
       display: block;
       
    
    }
  
    .products, .features, .company, .resources{
        display: block;
        padding-left: 20%;
        font-size: 1.5em;
       

    }

    .footerCopyright{
       color: white;
       display: block;
      

      
  }
 


}
}